<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.runtime.remoting>
    <application name="RemotingLotto">
      <service>
        <wellknown mode="SingleCall" type="Lotto.Data.LottoData, Lotto.Data" objectUri="LottoData.rem"/>
      </service>
      <channels>
        <channel ref="tcp" port="8008"/>
      </channels>
    </application>
  </system.runtime.remoting>
  <appSettings>
    <add key="dataFilePath" value="D:\temp\010\src\Lotto.Data\Lotto.xml"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
